LISTENBRAINZ_USER=mtmn
DISCOGS_TOKEN=
LASTFM_API_KEY=
S3_BUCKET=scorpus-covers
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ADDRESSING_STYLE=path
AWS_ENDPOINT_URL=http://localhost:8333
INITIAL_SYNC=true
DATABASE_FILE=/tmp/scorpus.db
