bower_components/
node_modules/
.pulp-cache/
output/
output-es/
generated-docs/
.psc-package/
result
result-*
.psc*
.purs*
.psa*
.spago/
.env
.env.local
server.js
client.js
server.log
scrobbler.db*
scorpus.db*
